<div class="uk-grid uk-grid-match" data-uk-grid-match>



    <div class="uk-width-medium-1-2">
        <div class="uk-panel uk-panel-box uk-grid-match instruction-panel">
            <h1 class="header uk-center-align">Preview</h1>
            <!-- This is where the preview data will come in -->
            <div ng-include="'templates/widget.html'" onload="loaded()"></div>

        </div>
    </div>



    <div class="uk-width-medium-1-2">
        <div class="uk-panel uk-panel-box">
             <b>You may adjust some of the settings here for your widget. The CSS you will get is fully customizable from what the editor cannot give you. Select a theme below and hit "export" when you are happy.</b>
        </div>
    </div>


</div>