<div class="uk-grid">
    <div class="uk-width-medium-1-1">
        <div class="uk-panel uk-panel-box" id="index-panel">
            <!-- We insert our icons here as we are required to do so -->

            <div class="uk-grid">
                
                <div class="uk-width-1-2" >
                    <div class="large-text uk-icon-cloud uk-align-center"> Import Project</div>
                </div>
                

                <div class="uk-width-1-2">
                    <a href="#/search">                    
                        <div class="large-text uk-icon-file large-left" style="float: left"> New Project</div>
                    </a>
                </div>

            </div>


        </div>
    </div>

</div>