<div class="uk-grid uk-grid-match" data-uk-grid-match >
   


    <div class="uk-width-medium-1-2">
        <div class="uk-panel uk-panel-box uk-grid-match instruction-panel">
            <h1 class="header">Step 1</h1>

            <p class="details"> Just search for the project that belongs to
                you right from Kickstarter. We'll populate
                your rewards, get some information, and 
                make sure the experience is just for you.
            </p>
        </div>
    </div>



    <div class="uk-width-medium-1-2">
        <div class="uk-panel uk-panel-box uk-grid-match">
            <h3 class="uk-panel-title">Step 1: What is your Kickstarter?</h3> Just search for your project below and we'll get the rest of the details.

            <form class="uk-form">
                <fieldset data-uk-margin>
                    <input type="text" class="uk-width-1-1" placeholder="">
                </fieldset>
            </form>


            <div id="results-container">

                <!-- The results from a search would be shown here -->
                <div class="uk-panel uk-panel-box">

                    <h3 class="uk-panel-title">~Exogenesis~</h3>
                    <div class="uk-panel-teaser">
                        <img src="img/photo.jpg" alt="">
                    </div>
                    <b> A post-apocalyptic adventure/visual novel hybrid inspired by Ace Attorney and Zero Escape games set in Japan. </b>

                    <dl class="uk-description-list-line">

                        <dt>$1 reward</dt>
                        <dd>You're here, and that matters a lot. Thank you for helping us out!</dd>

                        <dt>$5 reward</dt>
                        <dd>Show your support and express your desire to make Exogenesis a reality. Receive an invitation to our exclusive forums, be listed in the credits as a Backer and receive three HD desktop wallpapers with our heartfelt gratitude!</dd>

                    </dl>

                </div>

            </div>


        </div>
    </div>
</div>