<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/widget.css">
</head>

<body>



    <div id="kickwidget-container" class="kickstarter-widget-container">
        <div class="accordion">
            <div >
                <input id="ac-1" name="accordion-1" checked="true" type="checkbox" />
                <label for="ac-1">Personal Information</label>
                <div class="article ac-small">

                    <span>
                                    <h1 for="selection">Are you located outside of <span id="country-span"></span>?</h1>
                    </span>

                        <button id="kick-yes">Yes</button>
                        <button id="kick-no">No</button>



                </div>

            </div>
            <div>
                <input id="ac-2" name="accordion-1" type="checkbox" checked="true" />
                <label for="ac-2">Tiers</label>
                <div class="article ac-medium" id="tiers-container">


                    <div style="" class="reward-row">
                        <div class="reward-dollar-holder">$50</div>
                        <div class="reward-description">You will receive a digital copy of CLANNAD on Steam + digital download of the CLANNAD MABINOGI Arrange Album + 80-page digital CLANNAD Fanbook + Kickstarter exclusive CLANNAD T-shirt + B2 size CLANNAD tapestry.</div>
                        <button class="pledge-button">Pledge</button>
                    </div>

                    <div style="" class="reward-row">
                        <div class="reward-dollar-holder">Clannad++</div>
                        <div class="reward-description">You will receive a digital copy of CLANNAD on Steam + digital download of the CLANNAD MABINOGI Arrange Album + 80-page digital CLANNAD Fanbook + Kickstarter exclusive CLANNAD T-shirt + B2 size CLANNAD tapestry.</div>
                    </div>

                    <div style="" class="reward-row">
                        <div class="reward-dollar-holder">$50 reward</div>
                        <div class="reward-description">You will receive a digital copy of CLANNAD on Steam + digital download of the CLANNAD MABINOGI Arrange Album + 80-page digital CLANNAD Fanbook + Kickstarter exclusive CLANNAD T-shirt + B2 size CLANNAD tapestry.</div>
                    </div>


                </div>
            </div>
            <div>
                <input id="ac-3" name="accordion-1" type="checkbox" />
                <label for="ac-3">Add-On's</label>
                <div class="article ac-large" id="add-on-container">





                </div>
            </div>
            <div>
                <input id="ac-4" name="accordion-1" type="checkbox" checked="true" />
                <label for="ac-4">Details</label>
                <div class="article ac-large" id="details-container">


                    <div style="" class="reward-row">
                        <div class="reward-dollar-holder">Thanks a lot!</div>
                        <div id="detail-text" class="reward-description">If you wanted to back with the above rewards, you would need to pledge $320. </div>
                    </div>

                    <a id="kickstarter-logo" href="#">
                        <img src="img/kickstarter.png"> </img>                        
                    </a>
                
                </div>
            </div>
        </div>
    </div>





</body>

</html>